body {
    font-size: 16px;
    line-height: 1.42;
    font-family: 'ubuntu-medium';
    position: relative;
}

* {
    margin: 0;
    padding: 0;
   }

.wrapper {
    position: relative;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}

.container {
    width: 940px;
    margin: 0 auto;
}

.section {
    height: 100vh;
    min-height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    font-family: 'gagalin-regular';
    font-size: 72px;
    color: $yellow;
    line-height: 1;
    

    &--black {
        color: $black;
    }

    &--white {
        color: $white;
    }

    &--centered {
        text-align: center;
    }

    }

    

h1, h2, h3 {
    margin: 0;   
}

ul {
    margin: 0;
    padding: 0;

    li {
        list-style: none;
    }
}

p {
    margin: 0;
    padding: 0;
}

footer {
    position: relative;
    width: 100%;
}