.order {
    background-image: url("../img/background/order.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  
  }
  
  .form {
    display: flex;
    justify-content: space-between;
    
    &__col {
      width: 49%;
      
    }
    &__row {
      display: flex;
      margin-bottom: 18px;
    }
    //&__buttons {
      
   // }
    &__block {
      flex: 1;
      margin-right: 20px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  
  .form__block-title {
    display: block;
    color: $white;
    margin-bottom: 7px;
   
    font-size: 14px;
    &--buttons {
      margin-bottom: 0;
      margin-left: 10px;
    }
  }
  
  .form__input {
    width: 100%;
    border: 1px solid transparent;
    font-size: 14px;
    border-radius: 5px;
    padding: 7px 15px;
    outline: none;
    &--textarea {
      height: 110px;
      resize: none;
    }
    &:focus {
      border: 1px solid $yellow;
    }
  }
  
  .form__radio,
  .form__checkbox {
    display: flex;
    align-items: center;
    margin-right: 1rem;
  }
  
  .form__radio-input,
  .form__checkbox-input {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    overflow: hidden;
  }
  
  .form__radio-fake {
    position: relative;
    
    &::before {
      content: '';
      display: block;
      
    }
  }
  
  .form__radio-input:checked {
    &+.form__radio-fake::before {

    }
  }
  
  .form__checkbox-fake {
    
    background-color: #fff;
    position: relative;
  }
  
  .form__checkbox-input:checked {
    &+.form__checkbox-fake::before {
      content: '';
      background: url('../images/svgicons/check.svg') 50% no-repeat;
      background-size: contain;
      width: 11px;
      height: 9px;
      
    }
  }
  
  .form__btn-reset {
    background-color: transparent;
    text-transform: unset;
    transition: .3s;
    &:hover {
      background-color: black;
    }
  }